body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
    font-size: 300;
    background-color: #000000;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.nav-link {
    text-decoration:none;
    color: #ffffff;
}

.navbar {
    position: fixed;
}

.navbar-brand img {
    width: 5%;
    height: auto;
}

nav.active{
    background-color: white;
}

nav.active .navbar-brand,
nav.active a{
   color: #17a2b8 !important; 
}


.carousel-inner img {
    width: 100%;
}

.somos {
    padding-top: 50px;
    padding-bottom: 80px;
}

.quien, .dest, .cont {
    font-weight: 400;
    font-size: 1.4rem;
}

.somos-col {
    padding-top: 50px
}

.somos-text {
    margin-top: 10px;
}

.icon {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

.star {
    width: 100%;
    padding-bottom: 50px;
}

.card-star {
    margin-top: 25px;
    margin-bottom: 6px;
}

.card img {
 max-height: 150px;
}

.card-body {
    padding-bottom: 30px;
}

.card-title {
    font-weight: 400;
}

.type {
    padding-top: 20px;
    padding-bottom: 30px;
}

.pie-page {
    color: #ffffff;
}

.pie-page i {
    color: #ffffff;
    padding-top: 10px;
}

.logo {
    font-size: 2rem;
}

